.button {
  background-color: rgb(20, 182, 246);
  color: white;
  width: 270px;
  height: 30px;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  letter-spacing: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.button.notActive {
  opacity: 0.4;
  pointer-events: none;
}

.button__image {
  margin-right: 7px;
  width: 17px;
}
